@model LeadAlerts.Web.ViewModels.Lead

<div class="row">
    <div class="col-sm-8">
        <h1>@ViewBag.Title</h1>
        <h3>@ViewBag.Price</h3>
        <img src="~/Content/Images/house.jpg" class="img-responsive" alt="House" />
        <p>@ViewBag.Description</p>
    </div>
    <div class="col-sm-2 demo">
        <h4>Talk To An Agent</h4>
        <p>
            A trained real estate professional is standing by to answer any
            questions you might have about this property. Fill out the form below
            with your contact information, and an agent will reach out soon.
        </p>
        @using (Html.BeginForm("Create", "Notifications"))
        {
            @Html.HiddenFor(m => m.HouseTitle)
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "John Appleseed", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone)
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "+16512229988", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Message)
                @Html.TextBoxFor(m => m.Message, new { @class = "form-control", required = "required" })
            </div>
            <button type="submit" class="btn btn-primary">Request Info</button>
        }
    </div>
</div>